<mat-toolbar color="primary">
    <mat-toolbar-row>
      <p>Logo</p>
      <span class="example-spacer"></span>
      <button mat-button class="example-icon" aria-label="Example icon-button with share icon"
      routerLink='/search' routerLinkActive='active-link'>
      <span class="header-btn">Search</span>
    </button>
    <button mat-button class="example-icon" aria-label="Example icon-button with share icon"
    routerLink='/mymovies' routerLinkActive='active-link'>
    <span class="header-btn">My Movies</span>
  </button>
  <button mat-button class="example-icon" aria-label="Example icon-button with share icon"
    routerLink='/myaccount' routerLinkActive='active-link'>
    <span class="header-btn">My account</span>
  </button>
  <button color="accent" mat-button class="example-icon" aria-label="Example icon-button with share icon">
      <span class="header-btn">{{userName}}</span>
    </button>
      <button mat-raised-button aria-label="Example icon-button with share icon"
       (click)='logout()' class="ml-2">
        <span class="header-btn">Logout</span>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
