.my-account-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 40%;
}

mat-select-country mat-form-field {
    width: 100% !important;
}

.create-account-heading {
    text-align: center;
}

mat-form-field {
    width: 100% !important;
}

.mat-form-field .mat-primary .mat-form-field-type-mat-input .mat-form-field-appearance-fill .mat-form-field-can-float {
    width: 100% !important;
}